@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z44vbs');
  src:  url('fonts/icomoon.eot?z44vbs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z44vbs') format('truetype'),
    url('fonts/icomoon.woff?z44vbs') format('woff'),
    url('fonts/icomoon.svg?z44vbs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pinterest:before {
  content: "\ead1";
}

